extends layout

block content
  h1= title

  p
  | <strong>Race:</strong> #{data.race}
  br
  | <strong>Training:</strong> #{data.training}
  br
  | <strong>Themes:</strong> #{data.themes.join(', ')}
  br
  | <strong>Qualities:</strong> #{data.qualities.join(', ')}

