extends layout

block content
  h1= title

  p Race: #{data.race}
  p Training: #{data.training}
  p Themes:
  ul
    each val in data.themes
        li= val
  p Qualities:
  ul
    each val in data.qualities
        li= val
